.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.pagination span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  cursor: pointer;
}
span.active {
  background: rgba(0, 0, 0, 0.08);
}
.error {
  color: red;
  font-size: 14px;
  padding: 0 10px;
}
